In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('PlayTennis.csv')

In [3]:
data.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [16]:
data['windy'] = data['windy'].apply(lambda x: 'weak' if x == False else 'strong')

In [17]:
data

     outlook  temp humidity   windy play
0      sunny   hot     high    weak   no
1      sunny   hot     high  strong   no
2   overcast   hot     high    weak  yes
3      rainy  mild     high    weak  yes
4      rainy  cool   normal    weak  yes
5      rainy  cool   normal  strong   no
6   overcast  cool   normal  strong  yes
7      sunny  mild     high    weak   no
8      sunny  cool   normal    weak  yes
9      rainy  mild   normal    weak  yes
10     sunny  mild   normal  strong  yes
11  overcast  mild     high  strong  yes
12  overcast   hot   normal    weak  yes
13     rainy  mild     high  strong   no

## Problem 1
#### Input
#### Outlook =sunny, Temp = hot ,Humidity = high, Wind = weak
#### Output (Play)
#### Yes or No

## Solution 1
#### P(Yes| Sunny,Hot,High,Weak) = P(Sunny|Yes) * P(Hot|Yes) * P(High|Yes) *P(Weak|Yes)
#### P(No| Sunny,Hot,High,Weak) = P(Sunny|No) * P(Hot|No) * P(High|No) *P(Weak|No)

#### Compare and decide using Maximum a posteriori rule

## Training
#### Navie Bayes maintain a table, which is kept in dictionary for all possible column value will find the output for all i.e
#### P(Sunny|Yes),P(Overcat|Yes),P(Rainy|Yes),P(Sunny|No),P(Overcat|No),P(Rainy|No)
#### P(Hot|Yes),P(Mild|Yes),P(Cool|Yes),P(Hot|No),P(Mild|No),P(Cool|No)
#### P(High|Yes),P(Noraml|Yes),P(High|No),P(Noraml|No)
#### P(Weak|Yes),P(Strong|Yes),P(Weak|No),P(Strong|Yes)
#### P(Yes),P(No)

In [4]:
data['play'].value_counts()

play
yes    9
no     5
Name: count, dtype: int64

In [13]:
Prob_Yes = 9/14
Prob_No = 5/14
print(Prob_Yes,Prob_No)

0.6428571428571429 0.35714285714285715

In [6]:
# Outlook

pd.crosstab(data['outlook'],data['play'])

play      no  yes
outlook
overcast   0    4
rainy      2    3
sunny      3    2

In [7]:
Prob_Overcast_given_No = 0/5
Prob_Overcast_given_Yes = 4/9
Prob_Rainy_given_No = 2/5
Prob_Rainy_given_Yes = 3/9
Prob_Sunny_given_No = 3/5
Prob_Sunny_given_Yes = 2/9

In [8]:
pd.crosstab(data['temp'],data['play'])

play  no  yes
temp
cool   1    3
hot    2    2
mild   2    4

In [9]:
Prob_Cool_given_No = 1/5
Prob_Cool_given_Yes = 3/9
Prob_Hot_given_No = 2/5
Prob_Hot_given_Yes = 2/9
Prob_Mild_given_No = 2/5
Prob_Mild_given_Yes = 4/9

In [11]:
pd.crosstab(data['humidity'],data['play'])

play      no  yes
humidity
high       4    3
normal     1    6

In [12]:
Prob_High_given_No = 4/5
Prob_High_given_Yes = 3/9
Prob_Normal_given_No = 1/5
Prob_Normal_given_Yes = 6/9

In [18]:
pd.crosstab(data['windy'],data["play"])

play    no  yes
windy
strong   3    3
weak     2    6

In [19]:
Prob_Strong_given_No = 3/5
Prob_Strong_given_Yes = 3/9
Prob_Weak_given_No = 2/5
Prob_Weak_given_Yes = 6/9

In [20]:
# Outlook =sunny, Temp = hot ,Humidity = high, Wind = weak
P_Y = Prob_Yes * Prob_Sunny_given_Yes * Prob_Hot_given_Yes * Prob_High_given_Yes * Prob_Weak_given_Yes
P_Y

0.007054673721340388

In [22]:
P_N = Prob_No * Prob_Sunny_given_No * Prob_Hot_given_No * Prob_High_given_No * Prob_Weak_given_No
P_N

0.02742857142857143

In [23]:
1 if P_Y > P_N else 0 # Navie Bayes Prediction

0