In [53]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [54]:
df = pd.read_csv('train _titanic.csv')[['Age','Pclass','Fare','Survived']]

In [55]:
df.head(10)

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0
5   NaN       3   8.4583         0
6  54.0       1  51.8625         0
7   2.0       3  21.0750         0
8  27.0       3  11.1333         1
9  14.0       2  30.0708         1

In [56]:
df.isnull().mean()*100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [57]:
X = df.drop(columns=['Survived'])
Y = df['Survived']

In [58]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=2)

In [59]:
X_train.head()

      Age  Pclass     Fare
30   40.0       1  27.7208
10    4.0       3  16.7000
873  47.0       3   9.0000
182   9.0       3  31.3875
876  20.0       3   9.8458

In [60]:
knn = KNNImputer()

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [61]:
pd.DataFrame(X_train_trf,columns=X_train.columns).sample(10)

        Age  Pclass      Fare
706  50.000     1.0  247.5208
452  47.000     2.0   15.0000
699  27.000     1.0   30.5000
148  47.000     1.0   34.0208
164   3.000     2.0   18.7500
586  20.000     3.0    7.2292
82   26.934     2.0   15.0500
210  54.000     2.0   26.0000
333  27.000     2.0   26.0000
283   1.000     3.0   15.7417

In [62]:
lr = LogisticRegression()

lr.fit(X_train_trf,Y_train)

pred = lr.predict(X_test_trf)

accuracy_score(Y_test,pred)

0.7039106145251397

In [63]:
for i in range(1,11):
    knn = KNNImputer(n_neighbors=i)
    X_train_trf = knn.fit_transform(X_train)
    X_test_trf = knn.transform(X_test)
    lr = LogisticRegression()
    lr.fit(X_train_trf,Y_train)
    pred = lr.predict(X_test_trf)
    print(accuracy_score(Y_test,pred)) # idel value be 3

0.6871508379888268
0.7094972067039106
0.7039106145251397
0.7039106145251397
0.7039106145251397
0.7039106145251397
0.7039106145251397
0.6983240223463687
0.7039106145251397
0.7039106145251397

In [64]:
knn = KNNImputer(n_neighbors=3,weights='distance')
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)
lr = LogisticRegression()
lr.fit(X_train_trf,Y_train)
pred = lr.predict(X_test_trf)
print(accuracy_score(Y_test,pred)) # ideal value be 3, and sccuarcay increase

0.7150837988826816

In [65]:
si = SimpleImputer()

X_train_trf = si.fit_transform(X_train)
X_test_trf = si.transform(X_test)

In [66]:
lr = LogisticRegression()

lr.fit(X_train_trf,Y_train)

pred = lr.predict(X_test_trf)

accuracy_score(Y_test,pred)

0.6927374301675978